{% extends "base.html" %}
{% load static %}
{% block title %}檢視購物車{% endblock %}

{% block content %}
<div id="title">
    <h2>檢視購物車</h2>
</div>


<div id="view-cart">
    <div id="view-cart-table">
        <form action="" method="POST">
            {% csrf_token %}
            <table style="width: 100%;">
                <tr style="border: none;">
                    <td colspan="4" style="border: none;"> <input type="submit" name="clear_all" value="清空購物車"></td>
                </tr>

                <tr>
                    <th>商品名稱</th>
                    <th>數量</th>
                    <th>商品庫存</th>
                    <th>價格</th>
                    <th>修改</th>
                </tr>

                {% for cart_item in cart_items %}

                <tr>
                    <td>{{cart_item.product.product_name}}</td>
                    <td>{{cart_item.quantity}}</td>


                    {% if cart_item.product.product_stock %}
                    <td>{{cart_item.product.product_stock}}</td>
                    {% else %}
                    <td>缺貨中</td>
                    {% endif %}

                    <td>{{cart_item.product.product_price}}</td>
                    <td>
                        <div id="edit-a-button">
                            <a href="{% url 'edit-cart' cart_item.id %}">修改數量</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
                <tr style="border: none;">
                    <td colspan="4" style="border: none;">*缺貨項目會自動移出購物車</td>
                </tr>

                <tr style="border: none;">
                    <td colspan="4" style="border: none;font-weight: 700;"> 總金額:{{total_amount}}</td>
                </tr>
            </table>
        </form>
    </div>
    <div id="message"> {{message}}</div>
</div>
{% if have_total_amount %}
<div id="confirm-a-button">
    <a href="{% url 'view-order' %}">預覽訂單</a>
</div>
{% endif %}

{% endblock %}