body {
    background-color: antiquewhite;
}

#navbar {
    background-color: rgb(233, 196, 147);
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    /* 水平位移，垂直位移，模糊半徑 (紅，綠，藍，透明度) */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#edit-a-button a,
#page-a-button a {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#edit-a-button,
#page-a-button {
    text-align: center;
    padding: 10px;
}



#title {
    text-align: center;
}

#submit-button,
#reset {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}


#user-register-form,
#create-userprofile-form,
#edit-userprofile-form,
#view-userprofile,
#create-product-form,
#edit-product-form,
#delete-form {
    background-color: rgb(233, 196, 147);
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

#message,
#errors {
    font-weight: 700;
    color: red;
    margin-top: 5px;
}


table {
    text-align: center;
    border-collapse: collapse;
    margin: auto;

}

th,
tr,
td {
    border: solid 1px rgb(201, 169, 128);

}

th {
    background-color: rgb(233, 196, 147);
    width: 100px;

}

#delete-form {
    font-weight: 700;
    color: red;
    text-align: center;
}