{% extends "base.html" %}
{% load static %}
{% block title %}新增商品資訊{% endblock %}

{% block content %}
<div id="title">
    <h2>新增商品資訊</h2>
</div>

<div id="create-product-form">
    <!-- 告訴瀏覽器和服務器如何編碼表單數據，以支持文件上傳 -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{form.product_name.id_for_label}}">商品名稱</label> <br>
        {{form.product_name}} <br>

        <label for="{{form.product_price.id_for_label}}">商品價格</label> <br>
        {{form.product_price}} <br>

        <label for="{{form.product_img.id_for_label}}">商品圖片</label> <br>
        {{form.product_img}} <br>

        <label for="{{form.product_description.id_for_label}}">商品描述</label> <br>
        {{form.product_description}} <br>

        <input type="submit" name="" id="submit-button" value="確定">
        <input type="reset" name="" id="reset" value="清除">


        <div id="message"> {{message}}</div>

        <div id="errors">
            {% for field in form %}
            {% if field.errors %}
            {% for error in field.errors %}
            {{error}} <br>
            {% endfor %}
            {% endif %}
            {% endfor %}

            {% if non_field.errors %}
            {% for error in non_field.errors %}
            {{error}} <br>
            {% endfor %}
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}