{% extends "base.html" %}
{% load static %}
{% block title %}我的商店首頁{% endblock %}

{% block content %}
<div id="title">
    <h2>我的商店</h2>
</div>

<table>
    <tr>
        <th>商品名稱</th>
        <th>商品價格</th>
        <th>商品圖片</th>
        <th>商品敘述</th>
    </tr>

    {% for product in products %}

    <tr>
        <td><a href="{% url 'edit-product' product.id %}">{{product.product_name}}</a></td>
        <td>{{product.product_price}}</td>
        {% if product_img %}
        <td><img src="{{ product.product_img.url }}" alt="{{ product.product_name }}" width="100"></td>
        {% else %}
        <p>No image available</p>
        {%endif%}

        <td>{{product.product_description|slice:"10"}}</td>
    </tr>
    {% endfor %}
</table>

<div id="page-a-button">
    <a href="{% url 'index' %}?page_btn=prev&page={{page}}">上一頁</a>
    <a href="{% url 'index' %}?page_btn=next&page={{page}}">下一頁</a>
</div>
{% endblock %}