{% extends "base.html" %}
{% load static %}
{% block title %}我的商店首頁{% endblock %}

{% block content %}
<div id="title">
    <h2>我的商店</h2>
</div>

<table>
    <tr>
        <th>商品名稱</th>
        <th>商品價格</th>
        <th>商品圖片</th>
        <th>商品庫存</th>
        <th>商品敘述</th>
    </tr>

    {% for product in products %}

    <tr>
        <td>{{product.product_name}}</td>
        <td>{{product.product_price}}</td>
        <td>
            {% if product.product_img %}
            <img src="{{ product.product_img.url }}" alt="{{ product.product_name }}" width="100">
            {% else %}
            沒圖片
            {%endif%}
        </td>

        <td>{{product.product_stock}}</td>
        <td>{{product.product_description|slice:"10"}}</td>
    </tr>
    {% endfor %}
</table>

<div id="page-a-button">
    <a href="{% url 'index' %}?page_btn=prev&page={{page}}">上一頁</a>
    <a href="{% url 'index' %}?page_btn=next&page={{page}}">下一頁</a>
</div>
{% endblock %}